Package: com.nightwind.powersettings
Name: PowerSettings
Version: 0.0.1
Architecture: iphoneos-arm
Description: A simple tweak to control power settings in the Settings app.
Maintainer: Nightwind
Author: Nightwind
Section: Tweaks
Icon: https://github.com/NightwindDev/PowerSettings/blob/main/Images/Icon.png?raw=true
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 13.0)
